<div class="col">
    <div class="form-group"> 
        <label>Operando A</label>
        <input type="number" class='form-control' placeholder="Escribe operando A" [(ngModel)]='valorA'/>
    </div>
    <div class="form-group">
      <label>Operando B</label>
      <input type="number" class='form-control' placeholder="Escribe operando B" [(ngModel)]='valorB'/>
    </div>
    <br>
    <div class="col">
        <button type="submit" class="btn btn-primary"  (click)="sumar()">Sumar</button>
    </div>
</div>
